
.card10{

  width: 350px;
  height: 600px;
  margin-right: 8%;
  margin-left: 8%;
  justify-content: space-between;
  border: 2px solid #ccc;
  border-radius: 25px;
  box-shadow: 5px 5px 5px black;
  margin-top: 5%;
  text-align: center;
  margin-bottom: 10%;
  



}
.full-card1{
  display: flex;
  justify-content: space-between
  
}

.btn-primary2{
  background-color: gold;
  border-radius: 10px;
  max-width: 200px;
  color: black;
}
.font-size3{
  font-size: 70px;
  color: white;
}

.font-color3{
  color: white;
}

.center{
  text-align: center;
}
